*.opensdf
*.user
*.tmp
*.suo
*.ncb
*.sdf
*.pch
*.sln
*.vcxproj*
ITRBuildConf.xml
Debug/
Release/
debug/
release/
build/
ipch/
bin/
obj/
Makefile
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
.settings
.cproject
.project
.kdev4/
*.kdev4
variables.cmake
.svn/
